<!DOCTYPE html>
<html>
    <head>
        <title>
            A home page
        </title>

        <style>
            body
            {
                background-color: #acacac;
                background: radial-gradient(circle, #FFFFFF 0%,#acacac 100%);
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: Arial;
            }

            h1
            {
                color: #000000;
            }

            .container
            {
                width: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .card
            {
                background-color: #FFFFFF;
                width: 300px;
                height: 250px;
                box-shadow: 1px 1px 2px #000000aa;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
            }

            .placeholderImage
            {
                background-color: #acacac;
                background: radial-gradient(circle, #FFFFFF 0%,#acacac 100%);
                width: 260px;
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 120px;
                color: #FFFFFF;
            }

            .card1
            {
                transform: rotate(-5deg);
            }

            .card2
            {
                transform: rotate(3deg);
            }

            .card3
            {
                transform: rotate(-2deg);
            }
        </style>
    </head>

    <body>
        <h1>
            The home/start page.
        </h1>

        <div class="container">
            <div class="card card1">
                <div class="placeholderImage">
                    1
                </div>
                A
            </div>

            <div class="card card2">
                <div class="placeholderImage">
                    2
                </div>
                B
            </div>

            <div class="card card3">
                <div class="placeholderImage">
                    3
                </div>
                C
            </div>
        </div>
    </body>
</html>